* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: sans-serif;
}

.header-container {
   display: flex;
   align-items: center;
   justify-content:space-between;
   flex-wrap: wrap;
   width: 100%;
   padding: 2%;

   background-color: #3397DA;
   color: #ecf0f1;

   /* border: 2px solid red;  */
}

.header-logo {
   display: flex;
   justify-content: space-between;
   align-items: center;

   /* border: 2px solid red;  */
}

.header-logo h1 {
   margin-left: 8px;
   font-size: 40px;

   /* border: 2px solid red;  */
}

.navigation ul {
   display: flex;
   flex-wrap: wrap;
   gap: 16px;
   font-weight: bold;
   list-style: none;
   padding: 10px;
   font-size: 18px;
   /* border: 2px solid red;  */
}

.navigation ul li a {
   text-decoration: none;
   color: #ecf0f1;

   /* border: 2px solid red; */
}


/* Media Queries */
@media (max-width: 768px) {
   .header-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 2px solid red;
   }
}