* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: Roboto, sans-serif;
}

.container {
   max-width: 1024px;
   width: 100%;
   margin: 0 auto;
}

header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

header {
   padding: 16px 0 0;
   border-bottom: 1px solid #ccc;
   margin-bottom: 56px;
}

.submenu {
   display: none;
   position: absolute;
   left: 0;
   width: 300px;
   top: 100%;
   background-color: #FFF;
}

.menu > li {
   float: left;
   list-style: none;
   padding: 16px;
   border-top: 4px solid transparent;
   position: relative;
}
/* Para limpar os efeitos do float */
.clear { 
   clear: both;
}

.menu li:hover .submenu {
   display: block;
}

.menu li:hover {
   border-color: red;
}

.submenu li {
   display: block;
   padding: 8px;
}

.content {
   display: grid;
   grid-template-columns: 70% 30%;
}

.news {
   max-width: 100%;
}

.spotlight {
   margin-bottom: 56px;
}

.spotlight .news a {
   display: flex;
   font-size: 2em;
}

.spotlight .news img {
   margin-right: 8px;
}

section h2 {
   margin-bottom: 32px;
}

aside {
   padding-left: 40px;
}

aside .news {
   margin-bottom: 24px;
}

.whats-new {
   display: grid;
   grid-template-columns: repeat(3, 32.6%);
   column-gap: 1%;
   row-gap: 5%;
}

.whats-new img {
   max-width: 100%;
}

.btn-menu {
   display: none;
}

/* media query celular */
@media screen  and (max-width:767px) {
   .content {
      display: block;
   }

   .container {
      flex-direction: column;
      max-width: 90%;
   }

   .container h1 {
      margin-bottom: 8px;
   }
   
   .spotlight .news a {
      display: block;
      font-size: 1.5em;
   }
   
   .spotlight .news img {
      margin-right: 0;
   }

   .whats-new {
      display: block;
   }

   .whats-new .news {
      margin-bottom: 32px;
   }

   aside {
      padding-left: 0;
   }

   header div .container {
      flex-direction: column;
   }

   .submenu {
      display: block;
      width: 100%;
      position: relative;
      border: none;
   }

   .menu {
      display: none;
   }
   
   .menu > li {
      clear: both;
   }
   
   .submenu li {
      display: block;
      padding: 8px;
   }
   .btn-menu {
      display: flex;
      justify-content: center;
      margin-top: 16px;
      padding-bottom: 16px;
   }
}

/* Media query Ipad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
   .container {
      width: 90%;
   }

   .spotlight .news a {
      display: block;
      font-size: 1.5em;
   }

   .news img{
      width: 100%;
   }

   .whats-new {
      grid-template-columns: repeat(2, 49%);
   }
}